<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visual_acuity.name %>
</p>

<%= link_to 'Edit', edit_visual_acuity_path(@visual_acuity) %> |
<%= link_to 'Back', visual_acuities_path %>
