<div class="row">
	<div class="col-md-10 col-md-offset-2">
		<div class="tile">
			Billing
		</div>
		<div class="tile">
			Cashier
		</div>
		<div class="tile">
			Theatre
		</div>
		<div class="tile">
			Optical
		</div>
		<div class="tile">
			Pharmacy
		</div>
		<div class="tile">
			Lab
		</div>
		<div class="tile">
			Medical Records
		</div>
	</div>
</div>
