<h1>Listing Anaesthesia</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anaesthesia.each do |anaesthesia| %>
      <tr>
        <td><%= anaesthesia.name %></td>
        <td><%= link_to 'Show', anaesthesia %></td>
        <td><%= link_to 'Destroy', anaesthesia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


